
.modal {
    display: none;
    position: relative;
    z-index:1;
    left:0;
    top:0;
    height: auto;
    width: auto;
    overflow: auto;
}

.modalcontent{
    background-color: rgba(0,0,0,0.5);
    margin: 20% auto;
    padding: 20px;
    width: 70%;
    animation-name: modalanim;
    animation-duration: 1s;

}
.closeBtn{
    color: #ccc;
    float: right;
    font-size: 30px;
}

.closeBtn:hover, .closeBtn:focus{
    color: rebeccapurple;
    text-decoration: none;
    cursor: pointer;
}

.far, .fab{
    color: blue;
    font-size: 50px;
    padding-right: 20px;
}

@keyframes modalanim {
    from{opacity: 0}
    to{opacity: 1}
}
