#high {
    display: none;
}
#low {
    display: none;
}
#correct {
    display: none;
}

.dot {

}
#clickarea {
    text-align: center;
    padding: 10px;

}
#try{
    margin: 10px;
  height: 55px;
  width: 55px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}
p#try{
    font-size: 35px;
    color: aliceblue;
}
#alertsguess{
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}
#form-control {
    text-align: center;
}
.form-row{

    text-align: center
}
